body {
    font-family: Montserrat, sans-serif;
    background-color: #F5FBEF;
    display: flex; /*nina*/
    flex-direction: column; /*nina*/
    min-height: 180vh; /*nina*/
    margin: 0; /*nina*/
}

.navigation {
    text-align: center;
    background-color: #1B1725;
    color: #F5EFFF;
    font-weight: bold;
}

.navigation > div#name {
    font-size: 1.75em;
    text-align: left;
    padding: 0 5em 0 0;
    font-weight: bold;
    color:#FFC857;
}

.navigation > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 2em 1.25em 2em;
}

.navigation a {
    color: #FDFAE1;
    text-decoration: none;
}

.navigation a:hover {
    font-weight: 700;
}

.navigation a:active {
    color: #EF6F6C;
}

footer {
    margin-top: auto; /*nina*/
    text-align: right;
    background-color: #1B1725;
    color: #F5EFFF;
}

p.footerText {
    font-size: 1.25em;
    color: #F5EFFF;
    text-align: right;
    padding: 1em 5em 1em 1em;
    font-weight: bold;
}

.content {
    display: inline-block;
    margin: 0 5em 0;
    vertical-align: middle;
}

.text {
    float: left;
    width: 50%;
    margin: 6em 1em 6em;
}

h2 {
    margin-right: 10em;
    margin-right: 10em;
    font-size: 5em;
    font-weight: 800;
    color:#EF6F6C;
    padding: 0em 2em 0em;
}

h5{
    text-align: center;
    font-size: 1.1em;
    margin-top: -20px;
}

h1{
    font-size: 2.6em;
}
.text > .explore-button {
    text-align: center;
    background-color: #662E9B;
    vertical-align: middle;
    width: 28%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: 15px;
    min-width: 250px; /*nina*/
}

.explore-button > a {
    font-size: 1.125em;
    color: #FDFAE1;
    padding: 1em 3em 1em;
    text-decoration: none;
}

.explore-button > a:hover {
    font-weight: 700;
}

.content > img {
    max-width: 45%;
    padding: 1em 0 1em;
    float: left;
}

/*button dropdown*/ /*heidi nina*/
.list-content-container{
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}
.list-content-container a{
    background-color: #000;
    text-decoration: none;
    width: 100%;
    padding: 14px 18px;
    display: block;
}
.list-content-container a:hover{
    background-color: #ED4C30;
    color: white;
}
.drop-down-container:hover .list-content-container{
    display: block;
    width: 130px;
}
.drop-down-container:hover{
    background-color: transparent;
    cursor: pointer;
}
i{
    text-indent: 5px;
}
/*dropdown end*/


/*css for author*/
.container-author{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
table{
    width: 100%;
    padding: 20px;
}
.table-name-container{
    height:600px;
    width: 460px;
    margin-left: -25px;
}
.name{
    text-align: left;
}
.name-container{
    background-color: #1B1725;
    border-radius: 5px;
    margin: 50px 0 0 10px;
    padding: 25px;
    width: 400px;
    height: 600px;
}
.container-author-two{
    margin: -675px 0 0 500px;
    width: 800px;
    height: 400px;
}
.wrapper{
    border-radius: 10px;
    background-color: #666699;
    margin-top: 50px;
    padding: 5px;
}      

/*authors names*/
.name{
    text-align: left;
    color: black;
    font-size: 1.5em;
}
.author-title{
    cursor: default;
    text-align: left;
    color: #FFC857;
    font-size: 2em;
}

/*name hover style*/
.name a{
    text-decoration: none;
    color: #F5EFFF;
}
.name:hover{
    border-radius: 5px;
    border-left: 5px solid #FFC857;
    background-color: #666699;
}

/*profile*/
img{
    margin: 20px;
    height: 280px;
    width: 250px;
    border-radius: 5px;
}

p.self{
    font-size: 1.25em;
    cursor: default;
    text-indent: 2em;
    text-align: justify;
    color: #F5EFFF;
    width: 700px;
}

.self-container{
    margin: 125px 50px 0 50px;
}

.asas{
    margin: 160px 50px 0 50px;
}

p.quote{
    font-weight: bold;
    font-size: 1.8em;
    cursor: default;
    margin: 20px 20px 20px 20px;
    color: #FFC857;
    text-align: center;
    font-style: italic;
}

.quote-container{
    margin-top: -240px;
    width: 500px;
    margin-left: 280px;
}
/*quote css specific member*/
.asas{
    margin-top: -220px;
}
.guirao{
    margin-top: -270px;
}
.tabi{
    margin-top: -240px;
}
/*end*/

/*self container each member css*/
.anonuevoSelf{
    margin-top: 120px;
}
.asasSelf{
    margin-top: 140px;
}
.bulataoSelf{
    margin-top: 120px;
}
.guiraoSelf{
    margin-top: 120px;
}
.simondacSelf{
    margin-top: 155px;
}
.tabiSelf{
    margin-top: 120px;
}
.tantaySelf{
    margin-top: 120px;
}
.unarseSelf{
    margin-top: 120px;
}
/*end*/
.self-container{
    margin-top: 90px;
}

p.getToKnowMore{
    text-align: center;
}

p { 
    font-weight: 500;
    font-size: 1.20em;
    color: black;
}

span{
    font-variant: small-caps;
    font-style: normal;
}
/*style for text links*/
.links{
    font-weight: 600;
    font-size: 1.25em;
    color: #FDFAE1;
    margin-left: 300px;
}
.links:hover{
    color: #FFC857;
    font-style: oblique;
}
a{
    text-decoration: none;
}
/*title authors*/
.title-authors{
    width: 550px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}
.title-authors img{
    height: 150px;
    width: 150px;
    float: left;
}
.title{
    text-indent: 20px;
    margin-top: 70px;
}
/*font*/

.navigation, .title, .content{
	font-family:'Yrsa', serif;
}
body{
	font-family: 'Raleway', sans-serif;
}
.navigation > div#name {
	font-family:'Merriweather', serif;
}


