body {
    font-family: Montserrat, sans-serif;
    background-color: #F5FBEF;;
    display: flex; /*nina*/
    flex-direction: column; /*nina*/
    min-height: 269vh; /*nina*/
    margin: 0; /*nina*/
}

.navigation {
    text-align: center;
    background-color: #1B1725;
    color: #F5EFFF;
    font-weight: bold;
}

.navigation > div#name {
    font-size: 1.75em;
    text-align: left;
    padding: 0 5em 0 0;
    font-weight: bold;
    color:#FFC857;
}

.navigation > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 2em 1.25em 2em;
}

.navigation a {
    color: #FDFAE1;
    text-decoration: none;
}

.navigation a:hover {
    font-weight: 700;
}

.navigation a:active {
    color: #EF6F6C;
}

footer {
    margin-top: auto; /*nina*/
    text-align: right;
    background-color: #1B1725;
    color: #F5EFFF;
}

p.footerText {
    font-size: 1.25em;
    color: #F5EFFF;
    text-align: right;
    padding: 1em 5em 1em 1em;
    font-weight: bold;
}


/*button dropdown*/ /*heidi nina*/
.list-content-container{
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}
.list-content-container a{
    background-color: #000;
    text-decoration: none;
    width: 100%;
    padding: 14px 18px;
    display: block;
}
.list-content-container a:hover{
    background-color: #ED4C30;
    color: white;
}
.drop-down-container:hover .list-content-container{
    display: block;
    width: 130px;
}
.drop-down-container:hover{
    background-color: transparent;
    cursor: pointer;
}
i{
    text-indent: 5px;
}
/*dropdown end*/

/*container*/
.container-topic{
    margin: 50px auto 50px auto; 
    margin-left: -90px;
    padding: 25px;
    width: 1000px;
    background-color: #FDFAE1;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px gray;
}
/*end*/

/*banner*/
.banner-img{
    height: 400px;
    width: 800px;
    margin-bottom: 20px;
    position: relative;
    left: 10%;
}
/*end*/

.container-topic h2{
    font-size: 3em;
    position: relative;
    left: 25%;
}

.txt-content, p{
    text-align: justify;
    font-size: 1.25em;
    text-indent: 2em;
    line-height: 1.5em;
}

/*text overlay*/
.text-overlay, h1 {
    text-align: left;
    position: absolute;
    right: 15%;
    bottom: -20%;
    height: 400px;
    width: 900px;
    color:#F5EFFF;
    margin: 150px 0 0 80px;
    font-size: 3.58em;
    text-shadow: 2px 2px 1px black;
}


/*all container*/
.all-in-one{
    margin-right: auto;
    margin-left: auto;
    padding: 0 200px 0 280px;
}
/**/

/*side nav*/
.side-nav{
    width: 170px;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 135px;
    margin-left: -255px;
    border-radius: 10px;
    padding: 25px;
}

.side-nav a{
    color: #F5EFFF;
    text-decoration: none;
}

.side-nav a:hover{
    color: #FFC857;
    font-weight: bold;
}

.side-nav h5{
    color: #FFC857;
    font-size: 1.25em;
}

.side-nav-txt{
    text-align: left;
    text-indent: -2px;
    font-size: 1em;
}

.decetraland{
    background-color: rgb(105, 103, 100);
    border-radius: 2px;
    border-left: 3px solid #FFC857;
    padding-left: 5px;
    margin-left: -8px;
}
.col7{
    padding-top: 72px;
    left: 49%;
    position: absolute;
}

.rm{
    background-color:  #1B1725;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #F5EFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
.rm:hover{
    text-align: center;
    font-weight: bold;
    color: #FFC857; 
    text-decoration: none;
}
.col8{
    padding-top: 72px;
    left: 40%;
    position: absolute;
}

.rm1{
    background-color:  #1B1725;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #F5EFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
.rm1:hover{
    text-align: center;
    font-weight: bold;
    color: #FFC857; 
    text-decoration: none;
}

.col9{
    padding-top: 72px;
    left: 55%;
    position: absolute;
}

.rm2{
    background-color:  #1B1725;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #F5EFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
.rm2:hover{
    text-align: center;
    font-weight: bold;
    color: #FFC857; 
    text-decoration: none;
}
/*font*/

.navigation, .title, .content{
	font-family:'Yrsa', serif;
}
body{
	font-family: 'Raleway', sans-serif;
}
.navigation > div#name {
	font-family:'Merriweather', serif;
}